*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/kotlinc.xml
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build
/captures
.externalNativeBuild